In [70]:
import pandas as pd

In [71]:
Path = "ca_income_by_zip.csv"

In [72]:
df = pd.read_csv(Path, header=0)

In [73]:
df.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US06,California,13103114,18542,4.7,0.1,3.9,0.1,6.9,0.1,...,236,76668,374,(X),(X),(X),(X),32.8,(X),NaN
2,8600000US89010,ZCTA5 89010,185,52,0.0,17.2,4.9,4.7,20.5,12.3,...,12289,31610,10297,(X),(X),(X),(X),18.1,(X),NaN
3,8600000US89019,ZCTA5 89019,1114,299,1.3,2.2,4.2,4.0,26.8,17.8,...,**,50086,16768,(X),(X),(X),(X),18.7,(X),NaN
4,8600000US89060,ZCTA5 89060,4348,344,8.6,4.5,2.1,1.8,12.2,4.0,...,7423,48517,6349,(X),(X),(X),(X),33.2,(X),NaN

In [74]:
list(df.columns)

['GEO_ID',
 'NAME',
 'S1901_C01_001E',
 'S1901_C01_001M',
 'S1901_C01_002E',
 'S1901_C01_002M',
 'S1901_C01_003E',
 'S1901_C01_003M',
 'S1901_C01_004E',
 'S1901_C01_004M',
 'S1901_C01_005E',
 'S1901_C01_005M',
 'S1901_C01_006E',
 'S1901_C01_006M',
 'S1901_C01_007E',
 'S1901_C01_007M',
 'S1901_C01_008E',
 'S1901_C01_008M',
 'S1901_C01_009E',
 'S1901_C01_009M',
 'S1901_C01_010E',
 'S1901_C01_010M',
 'S1901_C01_011E',
 'S1901_C01_011M',
 'S1901_C01_012E',
 'S1901_C01_012M',
 'S1901_C01_013E',
 'S1901_C01_013M',
 'S1901_C01_014E',
 'S1901_C01_014M',
 'S1901_C01_015E',
 'S1901_C01_015M',
 'S1901_C01_016E',
 'S1901_C01_016M',
 'S1901_C02_001E',
 'S1901_C02_001M',
 'S1901_C02_002E',
 'S1901_C02_002M',
 'S1901_C02_003E',
 'S1901_C02_003M',
 'S1901_C02_004E',
 'S1901_C02_004M',
 'S1901_C02_005E',
 'S1901_C02_005M',
 'S1901_C02_006E',
 'S1901_C02_006M',
 'S1901_C02_007E',
 'S1901_C02_007M',
 'S1901_C02_008E',
 'S1901_C02_008M',
 'S1901_C02_009E',
 'S1901_C02_009M',
 'S1901_C02_010E',
 'S1901_C02_010M',
 'S1901_C02_011E',
 'S1901_C02_011M',
 'S1901_C02_012E',
 'S1901_C02_012M',
 'S1901_C02_013E',
 'S1901_C02_013M',
 'S1901_C02_014E',
 'S1901_C02_014M',
 'S1901_C02_015E',
 'S1901_C02_015M',
 'S1901_C02_016E',
 'S1901_C02_016M',
 'S1901_C03_001E',
 'S1901_C03_001M',
 'S1901_C03_002E',
 'S1901_C03_002M',
 'S1901_C03_003E',
 'S1901_C03_003M',
 'S1901_C03_004E',
 'S1901_C03_004M',
 'S1901_C03_005E',
 'S1901_C03_005M',
 'S1901_C03_006E',
 'S1901_C03_006M',
 'S1901_C03_007E',
 'S1901_C03_007M',
 'S1901_C03_008E',
 'S1901_C03_008M',
 'S1901_C03_009E',
 'S1901_C03_009M',
 'S1901_C03_010E',
 'S1901_C03_010M',
 'S1901_C03_011E',
 'S1901_C03_011M',
 'S1901_C03_012E',
 'S1901_C03_012M',
 'S1901_C03_013E',
 'S1901_C03_013M',
 'S1901_C03_014E',
 'S1901_C03_014M',
 'S1901_C03_015E',
 'S1901_C03_015M',
 'S1901_C03_016E',
 'S1901_C03_016M',
 'S1901_C04_001E',
 'S1901_C04_001M',
 'S1901_C04_002E',
 'S1901_C04_002M',
 'S1901_C04_003E',
 'S1901_C04_003M',
 'S1901_C04_004E',
 'S1901_C04_004M',
 'S1901_C04_005E',
 'S1901_C04_005M',
 'S1901_C04_006E',
 'S1901_C04_006M',
 'S1901_C04_007E',
 'S1901_C04_007M',
 'S1901_C04_008E',
 'S1901_C04_008M',
 'S1901_C04_009E',
 'S1901_C04_009M',
 'S1901_C04_010E',
 'S1901_C04_010M',
 'S1901_C04_011E',
 'S1901_C04_011M',
 'S1901_C04_012E',
 'S1901_C04_012M',
 'S1901_C04_013E',
 'S1901_C04_013M',
 'S1901_C04_014E',
 'S1901_C04_014M',
 'S1901_C04_015E',
 'S1901_C04_015M',
 'S1901_C04_016E',
 'S1901_C04_016M',
 'Unnamed: 130']

In [75]:
df.rename(columns={'NAME' : 'Zip'}, inplace = True)
df.head()

,GEO_ID,Zip,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US06,California,13103114,18542,4.7,0.1,3.9,0.1,6.9,0.1,...,236,76668,374,(X),(X),(X),(X),32.8,(X),NaN
2,8600000US89010,ZCTA5 89010,185,52,0.0,17.2,4.9,4.7,20.5,12.3,...,12289,31610,10297,(X),(X),(X),(X),18.1,(X),NaN
3,8600000US89019,ZCTA5 89019,1114,299,1.3,2.2,4.2,4.0,26.8,17.8,...,**,50086,16768,(X),(X),(X),(X),18.7,(X),NaN
4,8600000US89060,ZCTA5 89060,4348,344,8.6,4.5,2.1,1.8,12.2,4.0,...,7423,48517,6349,(X),(X),(X),(X),33.2,(X),NaN

In [76]:
df_cleaned = df.loc[:, ~df.columns.str.contains('m', case=False) & ~df.columns.str.contains('Unnamed')]
df_cleaned.head()

,GEO_ID,Zip,S1901_C01_001E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,...,S1901_C04_007E,S1901_C04_008E,S1901_C04_009E,S1901_C04_010E,S1901_C04_011E,S1901_C04_012E,S1901_C04_013E,S1901_C04_014E,S1901_C04_015E,S1901_C04_016E
0,Geography,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999",...,"Estimate!!Nonfamily households!!Total!!$50,000...","Estimate!!Nonfamily households!!Total!!$75,000...","Estimate!!Nonfamily households!!Total!!$100,00...","Estimate!!Nonfamily households!!Total!!$150,00...","Estimate!!Nonfamily households!!Total!!$200,00...",Estimate!!Nonfamily households!!Median income ...,Estimate!!Nonfamily households!!Mean income (d...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Estimate!!Nonfamily households!!PERCENT ALLOCA...
1,0400000US06,California,13103114,4.7,3.9,6.9,7.1,10.0,15.3,12.3,...,15.6,10.8,12.4,5.4,6.6,50894,76668,(X),(X),32.8
2,8600000US89010,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
3,8600000US89019,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
4,8600000US89060,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2

In [77]:
list(df_cleaned.columns)

['GEO_ID',
 'Zip',
 'S1901_C01_001E',
 'S1901_C01_002E',
 'S1901_C01_003E',
 'S1901_C01_004E',
 'S1901_C01_005E',
 'S1901_C01_006E',
 'S1901_C01_007E',
 'S1901_C01_008E',
 'S1901_C01_009E',
 'S1901_C01_010E',
 'S1901_C01_011E',
 'S1901_C01_012E',
 'S1901_C01_013E',
 'S1901_C01_014E',
 'S1901_C01_015E',
 'S1901_C01_016E',
 'S1901_C02_001E',
 'S1901_C02_002E',
 'S1901_C02_003E',
 'S1901_C02_004E',
 'S1901_C02_005E',
 'S1901_C02_006E',
 'S1901_C02_007E',
 'S1901_C02_008E',
 'S1901_C02_009E',
 'S1901_C02_010E',
 'S1901_C02_011E',
 'S1901_C02_012E',
 'S1901_C02_013E',
 'S1901_C02_014E',
 'S1901_C02_015E',
 'S1901_C02_016E',
 'S1901_C03_001E',
 'S1901_C03_002E',
 'S1901_C03_003E',
 'S1901_C03_004E',
 'S1901_C03_005E',
 'S1901_C03_006E',
 'S1901_C03_007E',
 'S1901_C03_008E',
 'S1901_C03_009E',
 'S1901_C03_010E',
 'S1901_C03_011E',
 'S1901_C03_012E',
 'S1901_C03_013E',
 'S1901_C03_014E',
 'S1901_C03_015E',
 'S1901_C03_016E',
 'S1901_C04_001E',
 'S1901_C04_002E',
 'S1901_C04_003E',
 'S1901_C04_004E',
 'S1901_C04_005E',
 'S1901_C04_006E',
 'S1901_C04_007E',
 'S1901_C04_008E',
 'S1901_C04_009E',
 'S1901_C04_010E',
 'S1901_C04_011E',
 'S1901_C04_012E',
 'S1901_C04_013E',
 'S1901_C04_014E',
 'S1901_C04_015E',
 'S1901_C04_016E']

In [78]:
df_cleaned.columns = df_cleaned.iloc[0]
df_cleaned = df_cleaned.drop(index=0)
df_cleaned.head()

,Geography,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
1,0400000US06,California,13103114,4.7,3.9,6.9,7.1,10.0,15.3,12.3,...,15.6,10.8,12.4,5.4,6.6,50894,76668,(X),(X),32.8
2,8600000US89010,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
3,8600000US89019,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
4,8600000US89060,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2
5,8600000US89061,ZCTA5 89061,2527,4.2,8.0,5.7,10.6,11.0,28.7,15.3,...,17.7,9.3,10.4,2.6,0.0,33474,47327,(X),(X),31.4

In [79]:
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.head()

,Geography,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,0400000US06,California,13103114,4.7,3.9,6.9,7.1,10.0,15.3,12.3,...,15.6,10.8,12.4,5.4,6.6,50894,76668,(X),(X),32.8
1,8600000US89010,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
2,8600000US89019,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
3,8600000US89060,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2
4,8600000US89061,ZCTA5 89061,2527,4.2,8.0,5.7,10.6,11.0,28.7,15.3,...,17.7,9.3,10.4,2.6,0.0,33474,47327,(X),(X),31.4

In [80]:
df_cleaned.drop(columns=["Geography"], inplace=True)
df_cleaned.head()

,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,California,13103114,4.7,3.9,6.9,7.1,10.0,15.3,12.3,17.1,...,15.6,10.8,12.4,5.4,6.6,50894,76668,(X),(X),32.8
1,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,14.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
2,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,9.2,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
3,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,6.8,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2
4,ZCTA5 89061,2527,4.2,8.0,5.7,10.6,11.0,28.7,15.3,13.0,...,17.7,9.3,10.4,2.6,0.0,33474,47327,(X),(X),31.4

In [81]:
df_cleaned = df_cleaned.drop(index=0)
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.head()

,Geographic Area Name,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,14.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
1,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,9.2,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
2,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,6.8,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2
3,ZCTA5 89061,2527,4.2,8.0,5.7,10.6,11.0,28.7,15.3,13.0,...,17.7,9.3,10.4,2.6,0.0,33474,47327,(X),(X),31.4
4,ZCTA5 89439,633,2.7,8.2,2.8,9.6,14.8,21.5,8.5,15.5,...,8.5,0.0,8.5,0.0,0.0,33750,37521,(X),(X),19.1

In [83]:
df_cleaned.rename(columns={'Geographic Area Name' : 'ZIP Code'}, inplace = True)
df_cleaned.head()

,ZIP Code,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999",...,"Estimate!!Nonfamily households!!Total!!$50,000 to $74,999","Estimate!!Nonfamily households!!Total!!$75,000 to $99,999","Estimate!!Nonfamily households!!Total!!$100,000 to $149,999","Estimate!!Nonfamily households!!Total!!$150,000 to $199,999","Estimate!!Nonfamily households!!Total!!$200,000 or more",Estimate!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,ZCTA5 89010,185,0.0,4.9,20.5,33.0,8.6,7.0,7.6,14.6,...,8.3,0.0,0.0,0.0,2.8,21429,31610,(X),(X),18.1
1,ZCTA5 89019,1114,1.3,4.2,26.8,7.7,4.8,12.7,21.1,9.2,...,17.4,21.3,6.6,0.0,0.0,-,50086,(X),(X),18.7
2,ZCTA5 89060,4348,8.6,2.1,12.2,14.8,14.4,23.0,13.4,6.8,...,14.2,12.1,3.8,4.0,0.2,35592,48517,(X),(X),33.2
3,ZCTA5 89061,2527,4.2,8.0,5.7,10.6,11.0,28.7,15.3,13.0,...,17.7,9.3,10.4,2.6,0.0,33474,47327,(X),(X),31.4
4,ZCTA5 89439,633,2.7,8.2,2.8,9.6,14.8,21.5,8.5,15.5,...,8.5,0.0,8.5,0.0,0.0,33750,37521,(X),(X),19.1

In [85]:
list(df_cleaned)

['ZIP Code',
 'Estimate!!Households!!Total',
 'Estimate!!Households!!Total!!Less than $10,000',
 'Estimate!!Households!!Total!!$10,000 to $14,999',
 'Estimate!!Households!!Total!!$15,000 to $24,999',
 'Estimate!!Households!!Total!!$25,000 to $34,999',
 'Estimate!!Households!!Total!!$35,000 to $49,999',
 'Estimate!!Households!!Total!!$50,000 to $74,999',
 'Estimate!!Households!!Total!!$75,000 to $99,999',
 'Estimate!!Households!!Total!!$100,000 to $149,999',
 'Estimate!!Households!!Total!!$150,000 to $199,999',
 'Estimate!!Households!!Total!!$200,000 or more',
 'Estimate!!Households!!Median income (dollars)',
 'Estimate!!Households!!Mean income (dollars)',
 'Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Households!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Families!!Total',
 'Estimate!!Families!!Total!!Less than $10,000',
 'Estimate!!Families!!Total!!$10,000 to $14,999',
 'Estimate!!Families!!Total!!$15,000 to $24,999',
 'Estimate!!Families!!Total!!$25,000 to $34,999',
 'Estimate!!Families!!Total!!$35,000 to $49,999',
 'Estimate!!Families!!Total!!$50,000 to $74,999',
 'Estimate!!Families!!Total!!$75,000 to $99,999',
 'Estimate!!Families!!Total!!$100,000 to $149,999',
 'Estimate!!Families!!Total!!$150,000 to $199,999',
 'Estimate!!Families!!Total!!$200,000 or more',
 'Estimate!!Families!!Median income (dollars)',
 'Estimate!!Families!!Mean income (dollars)',
 'Estimate!!Families!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Married-couple families!!Total',
 'Estimate!!Married-couple families!!Total!!Less than $10,000',
 'Estimate!!Married-couple families!!Total!!$10,000 to $14,999',
 'Estimate!!Married-couple families!!Total!!$15,000 to $24,999',
 'Estimate!!Married-couple families!!Total!!$25,000 to $34,999',
 'Estimate!!Married-couple families!!Total!!$35,000 to $49,999',
 'Estimate!!Married-couple families!!Total!!$50,000 to $74,999',
 'Estimate!!Married-couple families!!Total!!$75,000 to $99,999',
 'Estimate!!Married-couple families!!Total!!$100,000 to $149,999',
 'Estimate!!Married-couple families!!Total!!$150,000 to $199,999',
 'Estimate!!Married-couple families!!Total!!$200,000 or more',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Mean income (dollars)',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Nonfamily households!!Total',
 'Estimate!!Nonfamily households!!Total!!Less than $10,000',
 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999',
 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999',
 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999',
 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999',
 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999',
 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999',
 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999',
 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999',
 'Estimate!!Nonfamily households!!Total!!$200,000 or more',
 'Estimate!!Nonfamily households!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Mean income (dollars)',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months']

In [86]:
new_column_names = {
    'Estimate!!Households!!Total': 'Total Households',
    'Estimate!!Households!!Total!!Less than $10,000': 'Households with income < $10,000',
    'Estimate!!Households!!Total!!$10,000 to $14,999': 'Households with income $10k-$14.9k',
    'Estimate!!Households!!Total!!$15,000 to $24,999': 'Households with income $15k-$24.9k',
    'Estimate!!Households!!Total!!$25,000 to $34,999': 'Households with income $25k-$34.9k',
    'Estimate!!Households!!Total!!$35,000 to $49,999': 'Households with income $35k-$49.9k',
    'Estimate!!Households!!Total!!$50,000 to $74,999': 'Households with income $50k-$74.9k',
    'Estimate!!Households!!Total!!$75,000 to $99,999': 'Households with income $75k-$99.9k',
    'Estimate!!Households!!Total!!$100,000 to $149,999': 'Households with income $100k-$149.9k',
    'Estimate!!Households!!Total!!$150,000 to $199,999': 'Households with income $150k-$199.9k',
    'Estimate!!Households!!Total!!$200,000 or more': 'Households with income $200k+',
    'Estimate!!Households!!Median income (dollars)': 'Household Median Income',
    'Estimate!!Households!!Mean income (dollars)': 'Household Mean Income',
    'Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months': 'Percent Allocated Household Income (past 12 months)',
    'Estimate!!Households!!PERCENT ALLOCATED!!Family income in the past 12 months': 'Percent Allocated Family Income (past 12 months)',
    'Estimate!!Households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months': 'Percent Allocated Nonfamily Income (past 12 months)'
}

df_cleaned.rename(columns=new_column_names, inplace=True)

list(df_cleaned)

['ZIP Code',
 'Total Households',
 'Households with income < $10,000',
 'Households with income $10k-$14.9k',
 'Households with income $15k-$24.9k',
 'Households with income $25k-$34.9k',
 'Households with income $35k-$49.9k',
 'Households with income $50k-$74.9k',
 'Households with income $75k-$99.9k',
 'Households with income $100k-$149.9k',
 'Households with income $150k-$199.9k',
 'Households with income $200k+',
 'Household Median Income',
 'Household Mean Income',
 'Percent Allocated Household Income (past 12 months)',
 'Percent Allocated Family Income (past 12 months)',
 'Percent Allocated Nonfamily Income (past 12 months)',
 'Estimate!!Families!!Total',
 'Estimate!!Families!!Total!!Less than $10,000',
 'Estimate!!Families!!Total!!$10,000 to $14,999',
 'Estimate!!Families!!Total!!$15,000 to $24,999',
 'Estimate!!Families!!Total!!$25,000 to $34,999',
 'Estimate!!Families!!Total!!$35,000 to $49,999',
 'Estimate!!Families!!Total!!$50,000 to $74,999',
 'Estimate!!Families!!Total!!$75,000 to $99,999',
 'Estimate!!Families!!Total!!$100,000 to $149,999',
 'Estimate!!Families!!Total!!$150,000 to $199,999',
 'Estimate!!Families!!Total!!$200,000 or more',
 'Estimate!!Families!!Median income (dollars)',
 'Estimate!!Families!!Mean income (dollars)',
 'Estimate!!Families!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Married-couple families!!Total',
 'Estimate!!Married-couple families!!Total!!Less than $10,000',
 'Estimate!!Married-couple families!!Total!!$10,000 to $14,999',
 'Estimate!!Married-couple families!!Total!!$15,000 to $24,999',
 'Estimate!!Married-couple families!!Total!!$25,000 to $34,999',
 'Estimate!!Married-couple families!!Total!!$35,000 to $49,999',
 'Estimate!!Married-couple families!!Total!!$50,000 to $74,999',
 'Estimate!!Married-couple families!!Total!!$75,000 to $99,999',
 'Estimate!!Married-couple families!!Total!!$100,000 to $149,999',
 'Estimate!!Married-couple families!!Total!!$150,000 to $199,999',
 'Estimate!!Married-couple families!!Total!!$200,000 or more',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Mean income (dollars)',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Nonfamily households!!Total',
 'Estimate!!Nonfamily households!!Total!!Less than $10,000',
 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999',
 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999',
 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999',
 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999',
 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999',
 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999',
 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999',
 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999',
 'Estimate!!Nonfamily households!!Total!!$200,000 or more',
 'Estimate!!Nonfamily households!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Mean income (dollars)',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months']

In [87]:
new_column_names = {
    'Estimate!!Families!!Total': 'Total Families',
    'Estimate!!Families!!Total!!Less than $10,000': 'Families with income < $10,000',
    'Estimate!!Families!!Total!!$10,000 to $14,999': 'Families with income $10k-$14.9k',
    'Estimate!!Families!!Total!!$15,000 to $24,999': 'Families with income $15k-$24.9k',
    'Estimate!!Families!!Total!!$25,000 to $34,999': 'Families with income $25k-$34.9k',
    'Estimate!!Families!!Total!!$35,000 to $49,999': 'Families with income $35k-$49.9k',
    'Estimate!!Families!!Total!!$50,000 to $74,999': 'Families with income $50k-$74.9k',
    'Estimate!!Families!!Total!!$75,000 to $99,999': 'Families with income $75k-$99.9k',
    'Estimate!!Families!!Total!!$100,000 to $149,999': 'Families with income $100k-$149.9k',
    'Estimate!!Families!!Total!!$150,000 to $199,999': 'Families with income $150k-$199.9k',
    'Estimate!!Families!!Total!!$200,000 or more': 'Families with income $200k+',
    'Estimate!!Families!!Median income (dollars)': 'Family Median Income',
    'Estimate!!Families!!Mean income (dollars)': 'Family Mean Income',
    'Estimate!!Families!!PERCENT ALLOCATED!!Household income in the past 12 months': 'Percent Allocated Family Income (12 months)',
    'Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months': 'Percent Allocated Family Income (12 months)',
    'Estimate!!Families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months': 'Percent Allocated Nonfamily Income (12 months)',
    'Estimate!!Married-couple families!!Total': 'Total Married-couple Families',
    'Estimate!!Married-couple families!!Total!!Less than $10,000': 'Married-couple Families with income < $10,000',
    'Estimate!!Married-couple families!!Total!!$10,000 to $14,999': 'Married-couple Families with income $10k-$14.9k',
    'Estimate!!Married-couple families!!Total!!$15,000 to $24,999': 'Married-couple Families with income $15k-$24.9k',
    'Estimate!!Married-couple families!!Total!!$25,000 to $34,999': 'Married-couple Families with income $25k-$34.9k',
    'Estimate!!Married-couple families!!Total!!$35,000 to $49,999': 'Married-couple Families with income $35k-$49.9k',
    'Estimate!!Married-couple families!!Total!!$50,000 to $74,999': 'Married-couple Families with income $50k-$74.9k',
    'Estimate!!Married-couple families!!Total!!$75,000 to $99,999': 'Married-couple Families with income $75k-$99.9k',
    'Estimate!!Married-couple families!!Total!!$100,000 to $149,999': 'Married-couple Families with income $100k-$149.9k',
    'Estimate!!Married-couple families!!Total!!$150,000 to $199,999': 'Married-couple Families with income $150k-$199.9k',
    'Estimate!!Married-couple families!!Total!!$200,000 or more': 'Married-couple Families with income $200k+',
    'Estimate!!Married-couple families!!Median income (dollars)': 'Married-couple Family Median Income',
    'Estimate!!Married-couple families!!Mean income (dollars)': 'Married-couple Family Mean Income',
    'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Household income in the past 12 months': 'Percent Allocated Married-couple Household Income',
}

df_cleaned.rename(columns=new_column_names, inplace=True)

list(df_cleaned)

['ZIP Code',
 'Total Households',
 'Households with income < $10,000',
 'Households with income $10k-$14.9k',
 'Households with income $15k-$24.9k',
 'Households with income $25k-$34.9k',
 'Households with income $35k-$49.9k',
 'Households with income $50k-$74.9k',
 'Households with income $75k-$99.9k',
 'Households with income $100k-$149.9k',
 'Households with income $150k-$199.9k',
 'Households with income $200k+',
 'Household Median Income',
 'Household Mean Income',
 'Percent Allocated Household Income (past 12 months)',
 'Percent Allocated Family Income (past 12 months)',
 'Percent Allocated Nonfamily Income (past 12 months)',
 'Total Families',
 'Families with income < $10,000',
 'Families with income $10k-$14.9k',
 'Families with income $15k-$24.9k',
 'Families with income $25k-$34.9k',
 'Families with income $35k-$49.9k',
 'Families with income $50k-$74.9k',
 'Families with income $75k-$99.9k',
 'Families with income $100k-$149.9k',
 'Families with income $150k-$199.9k',
 'Families with income $200k+',
 'Family Median Income',
 'Family Mean Income',
 'Percent Allocated Family Income (12 months)',
 'Percent Allocated Family Income (12 months)',
 'Percent Allocated Nonfamily Income (12 months)',
 'Total Married-couple Families',
 'Married-couple Families with income < $10,000',
 'Married-couple Families with income $10k-$14.9k',
 'Married-couple Families with income $15k-$24.9k',
 'Married-couple Families with income $25k-$34.9k',
 'Married-couple Families with income $35k-$49.9k',
 'Married-couple Families with income $50k-$74.9k',
 'Married-couple Families with income $75k-$99.9k',
 'Married-couple Families with income $100k-$149.9k',
 'Married-couple Families with income $150k-$199.9k',
 'Married-couple Families with income $200k+',
 'Married-couple Family Median Income',
 'Married-couple Family Mean Income',
 'Percent Allocated Married-couple Household Income',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months',
 'Estimate!!Nonfamily households!!Total',
 'Estimate!!Nonfamily households!!Total!!Less than $10,000',
 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999',
 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999',
 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999',
 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999',
 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999',
 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999',
 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999',
 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999',
 'Estimate!!Nonfamily households!!Total!!$200,000 or more',
 'Estimate!!Nonfamily households!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Mean income (dollars)',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months',
 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months']

In [88]:
new_column_names = {
    'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months': 'Percent Allocated Married-couple Family Income (12 months)',
    'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months': 'Percent Allocated Married-couple Nonfamily Income (12 months)',
    'Estimate!!Nonfamily households!!Total': 'Total Nonfamily Households',
    'Estimate!!Nonfamily households!!Total!!Less than $10,000': 'Nonfamily Households with income < $10,000',
    'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999': 'Nonfamily Households with income $10k-$14.9k',
    'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999': 'Nonfamily Households with income $15k-$24.9k',
    'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999': 'Nonfamily Households with income $25k-$34.9k',
    'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999': 'Nonfamily Households with income $35k-$49.9k',
    'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999': 'Nonfamily Households with income $50k-$74.9k',
    'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999': 'Nonfamily Households with income $75k-$99.9k',
    'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999': 'Nonfamily Households with income $100k-$149.9k',
    'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999': 'Nonfamily Households with income $150k-$199.9k',
    'Estimate!!Nonfamily households!!Total!!$200,000 or more': 'Nonfamily Households with income $200k+',
    'Estimate!!Nonfamily households!!Median income (dollars)': 'Nonfamily Household Median Income',
    'Estimate!!Nonfamily households!!Mean income (dollars)': 'Nonfamily Household Mean Income',
    'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months': 'Percent Allocated Nonfamily Household Income (12 months)',
    'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months': 'Percent Allocated Nonfamily Family Income (12 months)',
    'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months': 'Percent Allocated Nonfamily Nonfamily Income (12 months)',
}

df_cleaned.rename(columns=new_column_names, inplace=True)


list(df_cleaned)

['ZIP Code',
 'Total Households',
 'Households with income < $10,000',
 'Households with income $10k-$14.9k',
 'Households with income $15k-$24.9k',
 'Households with income $25k-$34.9k',
 'Households with income $35k-$49.9k',
 'Households with income $50k-$74.9k',
 'Households with income $75k-$99.9k',
 'Households with income $100k-$149.9k',
 'Households with income $150k-$199.9k',
 'Households with income $200k+',
 'Household Median Income',
 'Household Mean Income',
 'Percent Allocated Household Income (past 12 months)',
 'Percent Allocated Family Income (past 12 months)',
 'Percent Allocated Nonfamily Income (past 12 months)',
 'Total Families',
 'Families with income < $10,000',
 'Families with income $10k-$14.9k',
 'Families with income $15k-$24.9k',
 'Families with income $25k-$34.9k',
 'Families with income $35k-$49.9k',
 'Families with income $50k-$74.9k',
 'Families with income $75k-$99.9k',
 'Families with income $100k-$149.9k',
 'Families with income $150k-$199.9k',
 'Families with income $200k+',
 'Family Median Income',
 'Family Mean Income',
 'Percent Allocated Family Income (12 months)',
 'Percent Allocated Family Income (12 months)',
 'Percent Allocated Nonfamily Income (12 months)',
 'Total Married-couple Families',
 'Married-couple Families with income < $10,000',
 'Married-couple Families with income $10k-$14.9k',
 'Married-couple Families with income $15k-$24.9k',
 'Married-couple Families with income $25k-$34.9k',
 'Married-couple Families with income $35k-$49.9k',
 'Married-couple Families with income $50k-$74.9k',
 'Married-couple Families with income $75k-$99.9k',
 'Married-couple Families with income $100k-$149.9k',
 'Married-couple Families with income $150k-$199.9k',
 'Married-couple Families with income $200k+',
 'Married-couple Family Median Income',
 'Married-couple Family Mean Income',
 'Percent Allocated Married-couple Household Income',
 'Percent Allocated Married-couple Family Income (12 months)',
 'Percent Allocated Married-couple Nonfamily Income (12 months)',
 'Total Nonfamily Households',
 'Nonfamily Households with income < $10,000',
 'Nonfamily Households with income $10k-$14.9k',
 'Nonfamily Households with income $15k-$24.9k',
 'Nonfamily Households with income $25k-$34.9k',
 'Nonfamily Households with income $35k-$49.9k',
 'Nonfamily Households with income $50k-$74.9k',
 'Nonfamily Households with income $75k-$99.9k',
 'Nonfamily Households with income $100k-$149.9k',
 'Nonfamily Households with income $150k-$199.9k',
 'Nonfamily Households with income $200k+',
 'Nonfamily Household Median Income',
 'Nonfamily Household Mean Income',
 'Percent Allocated Nonfamily Household Income (12 months)',
 'Percent Allocated Nonfamily Family Income (12 months)',
 'Percent Allocated Nonfamily Nonfamily Income (12 months)']

In [90]:
df_cleaned['ZIP Code'] = df_cleaned['ZIP Code'].str.extract(r'ZCTA5 (\d+)')

print(df_cleaned['ZIP Code'].head())

0    89010
1    89019
2    89060
3    89061
4    89439
Name: ZIP Code, dtype: object

In [92]:
df_cleaned['ZIP Code'] = pd.to_numeric(df_cleaned['ZIP Code'], errors='coerce')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1769 entries, 0 to 1768
Data columns (total 65 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   ZIP Code                                                       1769 non-null   int64
 1   Total Households                                               1769 non-null   object
 2   Households with income < $10,000                               1769 non-null   object
 3   Households with income $10k-$14.9k                             1769 non-null   object
 4   Households with income $15k-$24.9k                             1769 non-null   object
 5   Households with income $25k-$34.9k                             1769 non-null   object
 6   Households with income $35k-$49.9k                             1769 non-null   object
 7   Households with income $50k-$74.9k                             1769 non-null   object
 8   Households with income $75k-$99.9k                             1769 non-null   object
 9   Households with income $100k-$149.9k                           1769 non-null   object
 10  Households with income $150k-$199.9k                           1769 non-null   object
 11  Households with income $200k+                                  1769 non-null   object
 12  Household Median Income                                        1769 non-null   object
 13  Household Mean Income                                          1769 non-null   object
 14  Percent Allocated Household Income (past 12 months)            1769 non-null   object
 15  Percent Allocated Family Income (past 12 months)               1769 non-null   object
 16  Percent Allocated Nonfamily Income (past 12 months)            1769 non-null   object
 17  Total Families                                                 1769 non-null   object
 18  Families with income < $10,000                                 1769 non-null   object
 19  Families with income $10k-$14.9k                               1769 non-null   object
 20  Families with income $15k-$24.9k                               1769 non-null   object
 21  Families with income $25k-$34.9k                               1769 non-null   object
 22  Families with income $35k-$49.9k                               1769 non-null   object
 23  Families with income $50k-$74.9k                               1769 non-null   object
 24  Families with income $75k-$99.9k                               1769 non-null   object
 25  Families with income $100k-$149.9k                             1769 non-null   object
 26  Families with income $150k-$199.9k                             1769 non-null   object
 27  Families with income $200k+                                    1769 non-null   object
 28  Family Median Income                                           1769 non-null   object
 29  Family Mean Income                                             1769 non-null   object
 30  Percent Allocated Family Income (12 months)                    1769 non-null   object
 31  Percent Allocated Family Income (12 months)                    1769 non-null   object
 32  Percent Allocated Nonfamily Income (12 months)                 1769 non-null   object
 33  Total Married-couple Families                                  1769 non-null   object
 34  Married-couple Families with income < $10,000                  1769 non-null   object
 35  Married-couple Families with income $10k-$14.9k                1769 non-null   object
 36  Married-couple Families with income $15k-$24.9k                1769 non-null   object
 37  Married-couple Families with income $25k-$34.9k                1769 non-null   object
 38  Married-couple Families with income $35k-$49.9k                1769 non-null   object
 39  Married-couple Families with income $50k-$74.9k                1769 non-null   object
 40  Married-couple Families with income $75k-$99.9k                1769 non-null   object
 41  Married-couple Families with income $100k-$149.9k              1769 non-null   object
 42  Married-couple Families with income $150k-$199.9k              1769 non-null   object
 43  Married-couple Families with income $200k+                     1769 non-null   object
 44  Married-couple Family Median Income                            1769 non-null   object
 45  Married-couple Family Mean Income                              1769 non-null   object
 46  Percent Allocated Married-couple Household Income              1769 non-null   object
 47  Percent Allocated Married-couple Family Income (12 months)     1769 non-null   object
 48  Percent Allocated Married-couple Nonfamily Income (12 months)  1769 non-null   object
 49  Total Nonfamily Households                                     1769 non-null   object
 50  Nonfamily Households with income < $10,000                     1769 non-null   object
 51  Nonfamily Households with income $10k-$14.9k                   1769 non-null   object
 52  Nonfamily Households with income $15k-$24.9k                   1769 non-null   object
 53  Nonfamily Households with income $25k-$34.9k                   1769 non-null   object
 54  Nonfamily Households with income $35k-$49.9k                   1769 non-null   object
 55  Nonfamily Households with income $50k-$74.9k                   1769 non-null   object
 56  Nonfamily Households with income $75k-$99.9k                   1769 non-null   object
 57  Nonfamily Households with income $100k-$149.9k                 1769 non-null   object
 58  Nonfamily Households with income $150k-$199.9k                 1769 non-null   object
 59  Nonfamily Households with income $200k+                        1769 non-null   object
 60  Nonfamily Household Median Income                              1769 non-null   object
 61  Nonfamily Household Mean Income                                1769 non-null   object
 62  Percent Allocated Nonfamily Household Income (12 months)       1769 non-null   object
 63  Percent Allocated Nonfamily Family Income (12 months)          1769 non-null   object
 64  Percent Allocated Nonfamily Nonfamily Income (12 months)       1769 non-null   object
dtypes: int64(1), object(64)
memory usage: 898.4+ KB

In [93]:
relevant_columns = [
    'ZIP Code',
    'Household Median Income',
    'Household Mean Income',
    'Family Median Income',
    'Family Mean Income',
    'Married-couple Family Median Income',
    'Married-couple Family Mean Income',
    'Nonfamily Household Median Income',
    'Nonfamily Household Mean Income'
]

df_final = df_cleaned[relevant_columns]


df_final

,ZIP Code,Household Median Income,Household Mean Income,Family Median Income,Family Mean Income,Married-couple Family Median Income,Married-couple Family Mean Income,Nonfamily Household Median Income,Nonfamily Household Mean Income
0,89010,32847,53109,44750,66807,67813,N,21429,31610
1,89019,56765,86818,89558,131125,-,N,-,50086
2,89060,45833,56469,52552,60592,53488,N,35592,48517
3,89061,56865,62940,61148,69431,65688,N,33474,47327
4,89439,60547,89705,81875,113306,87845,N,33750,37521
...,...,...,...,...,...,...,...,...,...
1764,96148,81833,106323,105729,124074,106406,N,80250,82051
1765,96150,62541,95949,82407,119749,96589,N,38478,63075
1766,96155,-,-,-,-,-,-,-,-
1767,96161,100205,148847,115436,166444,119699,N,58942,88547
1768,97635,-,73435,-,86644,-,N,-,N

In [97]:
print(df_final['Married-couple Family Mean Income'].unique())

['N' '66307' '63438' '78998' '63774' '122509' '72324' '66925' '67492'
 '83517' '107159' '76890' '-' '66860' '92778' '102369' '73437' '78702'
 '82499' '112404' '127778' '92526' '104043' '95481' '117417' '77560'
 '83446' '92809' '103715' '110654' '104055' '96634' '81853' '100839'
 '92930' '98811' '86717' '82503' '78045' '111694' '104618' '98657' '91462'
 '95397' '82968' '101966' '118007' '117927' '102044' '75738' '103609'
 '135709' '108192' '123526' '77029' '113955' '137894' '130505' '124851'
 '100283' '87829' '71569' '83713' '137076' '88665' '79220' '79282' '87123'
 '92649' '80557' '110222' '102302' '104342' '106865' '69542' '75854'
 '103136' '91894' '109785' '84897' '100873' '103861' '99480' '144816'
 '132381' '94169' '120592' '82237' '108569' '165350' '100476' '81019'
 '89230' '105425' '100061' '65413' '89878' '91269' '75479' '77869' '95612'
 '71225' '95528' '107323' '148046' '105385' '109125' '185092' '133882'
 '124055' '117282' '88749' '108243' '100821' '145800' '112928' '66516'
 '105238' '74579' '95411' '89630' '131538' '113793' '90828' '139120'
 '101686' '69404' '114001' '84911' '81383' '131304' '84745' '93051'
 '91414']

In [98]:
duplicates = df_final[df_final.duplicated()]
duplicates

Empty DataFrame
Columns: [ZIP Code, Household Median Income, Household Mean Income, Family Median Income, Family Mean Income, Married-couple Family Median Income, Married-couple Family Mean Income, Nonfamily Household Median Income, Nonfamily Household Mean Income]
Index: []

In [99]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1769 entries, 0 to 1768
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ZIP Code                             1769 non-null   int64
 1   Household Median Income              1769 non-null   object
 2   Household Mean Income                1769 non-null   object
 3   Family Median Income                 1769 non-null   object
 4   Family Mean Income                   1769 non-null   object
 5   Married-couple Family Median Income  1769 non-null   object
 6   Married-couple Family Mean Income    1769 non-null   object
 7   Nonfamily Household Median Income    1769 non-null   object
 8   Nonfamily Household Mean Income      1769 non-null   object
dtypes: int64(1), object(8)
memory usage: 124.5+ KB

In [100]:
income_columns = [
    'Household Median Income',
    'Household Mean Income',
    'Family Median Income',
    'Family Mean Income',
    'Married-couple Family Median Income',
    'Married-couple Family Mean Income',
    'Nonfamily Household Median Income',
    'Nonfamily Household Mean Income'
]

df_final[income_columns] = df_final[income_columns].apply(pd.to_numeric, errors='coerce')

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1769 entries, 0 to 1768
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ZIP Code                             1769 non-null   int64
 1   Household Median Income              1600 non-null   float64
 2   Household Mean Income                1676 non-null   float64
 3   Family Median Income                 1553 non-null   float64
 4   Family Mean Income                   1637 non-null   float64
 5   Married-couple Family Median Income  1523 non-null   float64
 6   Married-couple Family Mean Income    132 non-null    float64
 7   Nonfamily Household Median Income    1474 non-null   float64
 8   Nonfamily Household Mean Income      1598 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 124.5 KB

/var/folders/9g/q_vt4mks1rz6myydd0n5jcwc0000gn/T/ipykernel_80104/625407088.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final[income_columns] = df_final[income_columns].apply(pd.to_numeric, errors='coerce')

In [101]:
df_final.head()

,ZIP Code,Household Median Income,Household Mean Income,Family Median Income,Family Mean Income,Married-couple Family Median Income,Married-couple Family Mean Income,Nonfamily Household Median Income,Nonfamily Household Mean Income
0,89010,32847.0,53109.0,44750.0,66807.0,67813.0,NaN,21429.0,31610.0
1,89019,56765.0,86818.0,89558.0,131125.0,NaN,NaN,NaN,50086.0
2,89060,45833.0,56469.0,52552.0,60592.0,53488.0,NaN,35592.0,48517.0
3,89061,56865.0,62940.0,61148.0,69431.0,65688.0,NaN,33474.0,47327.0
4,89439,60547.0,89705.0,81875.0,113306.0,87845.0,NaN,33750.0,37521.0