In [40]:
import pandas as pd

In [41]:
Path1 = "Doctors_per_code-good.csv"

In [42]:
df= pd.read_csv(Path1)

In [43]:
df.head()

,ZIP Code,State,City/Town,Primary Specialty,All Secondary Specialties,Gender,Facility Name,NPI,Provider Last Name,Provider First Name,Provider Middle Name
0,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,NaN,M,LPCH MEDICAL GROUP DIV OF LUCILE,1003829771,MEANEY,PETER,ANDREW
1,91402,CA,PANORAMA CITY,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1013128297,BRONSTEIN,DAVID,E
2,92604,CA,IRVINE,PEDIATRIC MEDICINE,NaN,F,MEMORIALCARE MEDICAL FOUNDATION,1013907377,BAKER,MARNIE,NaN
3,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912054,SWENSSON,RICHARD,ERIC
4,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912674,RECTO,MICHAEL,R

In [44]:
Path2 = 'kids_per_code.csv'

In [45]:
df2= pd.read_csv(Path2)

In [46]:
df2.head()

,ZIP Code,Population Under 18 years (Selected),Total Population,Population Under 5 years,Population 5 to 9 years,Population 10 to 14 years,Population 15 to 19 years,Percent Population Under 5 years,Percent Population 5 to 9 years,Percent Population 10 to 14 years,Percent Population Under 18 years (Selected),Male Population Under 5 years,Male Population 5 to 9 years,Male Population 10 to 14 years,Female Population Under 5 years,Female Population 5 to 9 years,Female Population 10 to 14 years,Female Population Under 18 years (Selected)
0,89010,71,461,20,28,23,10,4.3,6.1,5.0,15.4,9,9,17,11,19,6,36
1,89019,146,2312,56,31,28,76,2.4,1.3,1.2,6.3,12,14,0,44,17,28,109
2,89060,1917,12198,509,662,372,510,4.2,5.4,3.0,15.7,174,153,104,335,509,268,1343
3,89061,971,7529,69,411,342,184,0.9,5.5,4.5,12.9,20,206,315,49,205,27,308
4,89439,192,1639,42,111,29,18,2.6,6.8,1.8,11.7,30,62,21,12,49,8,69

In [47]:
Path3 = 'income_per_code.csv'

In [48]:
df3= pd.read_csv(Path2)

In [49]:
df3.head()

,ZIP Code,Population Under 18 years (Selected),Total Population,Population Under 5 years,Population 5 to 9 years,Population 10 to 14 years,Population 15 to 19 years,Percent Population Under 5 years,Percent Population 5 to 9 years,Percent Population 10 to 14 years,Percent Population Under 18 years (Selected),Male Population Under 5 years,Male Population 5 to 9 years,Male Population 10 to 14 years,Female Population Under 5 years,Female Population 5 to 9 years,Female Population 10 to 14 years,Female Population Under 18 years (Selected)
0,89010,71,461,20,28,23,10,4.3,6.1,5.0,15.4,9,9,17,11,19,6,36
1,89019,146,2312,56,31,28,76,2.4,1.3,1.2,6.3,12,14,0,44,17,28,109
2,89060,1917,12198,509,662,372,510,4.2,5.4,3.0,15.7,174,153,104,335,509,268,1343
3,89061,971,7529,69,411,342,184,0.9,5.5,4.5,12.9,20,206,315,49,205,27,308
4,89439,192,1639,42,111,29,18,2.6,6.8,1.8,11.7,30,62,21,12,49,8,69

In [50]:
Path4 = 'pop_density_per_zip.csv'

In [51]:
df4= pd.read_csv(Path4)

In [52]:
df4.head()

,Zipcode,Land Area sq meters,Water Area sq meters,Land Area sq miles,Water Area sq miles,Latitude,Longitude,Population,Population Density per sq mile
0,89060,"1,164,029,185","83,993",449.434,0.032,36.391556,−116.0575681,10692.0,23.789922
1,89061,"165,855,694","10,631",64.037,0.004,36.070110,−115.9062487,5537.0,86.465637
2,89439,"42,115,079","336,966",16.261,0.130,39.523352,−119.9903835,1244.0,76.502060
3,90001,"8,495,419",0,3.280,0.000,33.973665,−118.2490388,58974.0,17979.878049
4,90002,"7,750,658",0,2.993,0.000,33.948987,−118.2467796,53402.0,17842.298697

In [53]:
Path5 = 'poverty_rate_per_zip.csv'

In [54]:
df5= pd.read_csv(Path5)

In [55]:
df5.head()

,Zipcode,Population,Per Capita Income,Poverty Count,Poverty Rate,Insurance coverage status,Coverage Rate
0,89060,12198.0,31138.0,2183.0,17.896376,11857.0,97.204460
1,89061,7529.0,33771.0,486.0,6.455041,7529.0,100.000000
2,89439,1639.0,65281.0,93.0,5.674192,1639.0,100.000000
3,90001,57652.0,17994.0,12186.0,21.137168,57639.0,99.977451
4,90002,53108.0,18262.0,12740.0,23.988853,53100.0,99.984936

In [56]:
df_total = pd.merge(df, df2, on='ZIP Code', how='inner')
df_total

,ZIP Code,State,City/Town,Primary Specialty,All Secondary Specialties,Gender,Facility Name,NPI,Provider Last Name,Provider First Name,...,Percent Population 5 to 9 years,Percent Population 10 to 14 years,Percent Population Under 18 years (Selected),Male Population Under 5 years,Male Population 5 to 9 years,Male Population 10 to 14 years,Female Population Under 5 years,Female Population 5 to 9 years,Female Population 10 to 14 years,Female Population Under 18 years (Selected)
0,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,NaN,M,LPCH MEDICAL GROUP DIV OF LUCILE,1003829771,MEANEY,PETER,...,5.3,3.4,17.2,90,134,44,195,106,107,456
1,91402,CA,PANORAMA CITY,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1013128297,BRONSTEIN,DAVID,...,7.1,7.5,24.6,2170,2323,2823,1896,2474,2279,7788
2,92604,CA,IRVINE,PEDIATRIC MEDICINE,NaN,F,MEMORIALCARE MEDICAL FOUNDATION,1013907377,BAKER,MARNIE,...,5.6,6.1,20.5,736,945,708,672,670,1055,2998
3,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912054,SWENSSON,RICHARD,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
4,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912674,RECTO,MICHAEL,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,92868,CA,ORANGE,PEDIATRIC MEDICINE,NaN,F,UC REGENTS UCI DEPT OF PEDIATRICS,1982927729,GOLD,JUNE-ANNE,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
533,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,NaN,M,CHILDRENS HOSPITAL LOS ANGELES MEDICAL GROUP INC,1982997300,SMITH,MATTHEW,...,3.6,2.2,12.1,1222,825,544,1023,830,457,2645
534,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,LPCH MEDICAL GROUP DIV OF LUCILE,1982997417,PHAM,TRUNG,...,5.3,3.4,17.2,90,134,44,195,106,107,456
535,92833,CA,FULLERTON,PEDIATRIC MEDICINE,INTERNAL MEDICINE,M,NaN,1992857239,FLORES,EDGAR,...,6.1,8.2,23.5,1586,1817,2276,1712,1396,2052,6047
536,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,HEMATOLOGY/ONCOLOGY,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1992872717,COOPER,ROBERT,...,3.6,2.2,12.1,1222,825,544,1023,830,457,2645

In [57]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 28 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ZIP Code                                      537 non-null    int64
 1   State                                         537 non-null    object
 2   City/Town                                     537 non-null    object
 3   Primary Specialty                             537 non-null    object
 4   All Secondary Specialties                     247 non-null    object
 5   Gender                                        537 non-null    object
 6   Facility Name                                 496 non-null    object
 7   NPI                                           537 non-null    int64
 8   Provider Last Name                            537 non-null    object
 9   Provider First Name                           537 non-null    object
 10  Provider Middle Name                          353 non-null    object
 11  Population Under 18 years (Selected)          537 non-null    int64
 12  Total Population                              537 non-null    int64
 13  Population Under 5 years                      537 non-null    int64
 14  Population 5 to 9 years                       537 non-null    int64
 15  Population 10 to 14 years                     537 non-null    int64
 16  Population 15 to 19 years                     537 non-null    int64
 17  Percent Population Under 5 years              507 non-null    float64
 18  Percent Population 5 to 9 years               507 non-null    float64
 19  Percent Population 10 to 14 years             507 non-null    float64
 20  Percent Population Under 18 years (Selected)  507 non-null    float64
 21  Male Population Under 5 years                 537 non-null    int64
 22  Male Population 5 to 9 years                  537 non-null    int64
 23  Male Population 10 to 14 years                537 non-null    int64
 24  Female Population Under 5 years               537 non-null    int64
 25  Female Population 5 to 9 years                537 non-null    int64
 26  Female Population 10 to 14 years              537 non-null    int64
 27  Female Population Under 18 years (Selected)   537 non-null    int64
dtypes: float64(4), int64(15), object(9)
memory usage: 117.6+ KB

In [71]:
df_tota = pd.merge(df_total, df3, on='ZIP Code', how='inner')
df_tota

,ZIP Code,State,City/Town,Primary Specialty,All Secondary Specialties,Gender,Facility Name,NPI,Provider Last Name,Provider First Name,...,Percent Population 5 to 9 years_y,Percent Population 10 to 14 years_y,Percent Population Under 18 years (Selected)_y,Male Population Under 5 years_y,Male Population 5 to 9 years_y,Male Population 10 to 14 years_y,Female Population Under 5 years_y,Female Population 5 to 9 years_y,Female Population 10 to 14 years_y,Female Population Under 18 years (Selected)_y
0,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,NaN,M,LPCH MEDICAL GROUP DIV OF LUCILE,1003829771,MEANEY,PETER,...,5.3,3.4,17.2,90,134,44,195,106,107,456
1,91402,CA,PANORAMA CITY,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1013128297,BRONSTEIN,DAVID,...,7.1,7.5,24.6,2170,2323,2823,1896,2474,2279,7788
2,92604,CA,IRVINE,PEDIATRIC MEDICINE,NaN,F,MEMORIALCARE MEDICAL FOUNDATION,1013907377,BAKER,MARNIE,...,5.6,6.1,20.5,736,945,708,672,670,1055,2998
3,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912054,SWENSSON,RICHARD,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
4,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912674,RECTO,MICHAEL,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,92868,CA,ORANGE,PEDIATRIC MEDICINE,NaN,F,UC REGENTS UCI DEPT OF PEDIATRICS,1982927729,GOLD,JUNE-ANNE,...,5.5,4.6,18.5,435,790,673,821,720,592,2582
533,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,NaN,M,CHILDRENS HOSPITAL LOS ANGELES MEDICAL GROUP INC,1982997300,SMITH,MATTHEW,...,3.6,2.2,12.1,1222,825,544,1023,830,457,2645
534,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,LPCH MEDICAL GROUP DIV OF LUCILE,1982997417,PHAM,TRUNG,...,5.3,3.4,17.2,90,134,44,195,106,107,456
535,92833,CA,FULLERTON,PEDIATRIC MEDICINE,INTERNAL MEDICINE,M,NaN,1992857239,FLORES,EDGAR,...,6.1,8.2,23.5,1586,1817,2276,1712,1396,2052,6047
536,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,HEMATOLOGY/ONCOLOGY,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1992872717,COOPER,ROBERT,...,3.6,2.2,12.1,1222,825,544,1023,830,457,2645

In [80]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759 entries, 0 to 1758
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Zipcode                         1759 non-null   int64
 1   Land Area sq meters             1759 non-null   object
 2   Water Area sq meters            1759 non-null   object
 3   Land Area sq miles              1759 non-null   float64
 4   Water Area sq miles             1759 non-null   float64
 5   Latitude                        1759 non-null   float64
 6   Longitude                       1759 non-null   object
 7   Population                      1759 non-null   float64
 8   Population Density per sq mile  1759 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 123.8+ KB

In [85]:
df4 = df4.rename(columns = {'Zipcode': 'ZIP Code'})
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759 entries, 0 to 1758
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ZIP Code                        1759 non-null   int64
 1   Land Area sq meters             1759 non-null   object
 2   Water Area sq meters            1759 non-null   object
 3   Land Area sq miles              1759 non-null   float64
 4   Water Area sq miles             1759 non-null   float64
 5   Latitude                        1759 non-null   float64
 6   Longitude                       1759 non-null   object
 7   Population                      1759 non-null   float64
 8   Population Density per sq mile  1759 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 123.8+ KB

In [87]:
df_totall = pd.merge(df_tota, df4, on='ZIP Code', how='inner')
df_totall

,ZIP Code,State,City/Town,Primary Specialty,All Secondary Specialties,Gender,Facility Name,NPI,Provider Last Name,Provider First Name,...,Female Population 10 to 14 years_y,Female Population Under 18 years (Selected)_y,Land Area sq meters,Water Area sq meters,Land Area sq miles,Water Area sq miles,Latitude,Longitude,Population,Population Density per sq mile
0,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,NaN,M,LPCH MEDICAL GROUP DIV OF LUCILE,1003829771,MEANEY,PETER,...,107,456,"12,449,131",0,4.807,0.000,37.397253,−122.1669792,4391.0,913.459538
1,91402,CA,PANORAMA CITY,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1013128297,BRONSTEIN,DAVID,...,2279,7788,"9,650,544","83,739",3.726,0.032,34.222506,−118.4446893,70702.0,18975.308642
2,92604,CA,IRVINE,PEDIATRIC MEDICINE,NaN,F,MEMORIALCARE MEDICAL FOUNDATION,1013907377,BAKER,MARNIE,...,1055,2998,"8,670,279","134,955",3.348,0.052,33.690689,−117.7891367,28330.0,8461.768220
3,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912054,SWENSSON,RICHARD,...,592,2582,"8,907,947",0,3.439,0.000,33.787967,−117.8763428,26549.0,7719.976737
4,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912674,RECTO,MICHAEL,...,592,2582,"8,907,947",0,3.439,0.000,33.787967,−117.8763428,26549.0,7719.976737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,92868,CA,ORANGE,PEDIATRIC MEDICINE,NaN,F,UC REGENTS UCI DEPT OF PEDIATRICS,1982927729,GOLD,JUNE-ANNE,...,592,2582,"8,907,947",0,3.439,0.000,33.787967,−117.8763428,26549.0,7719.976737
533,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,NaN,M,CHILDRENS HOSPITAL LOS ANGELES MEDICAL GROUP INC,1982997300,SMITH,MATTHEW,...,457,2645,"21,042,927","269,098",8.125,0.104,34.127603,−118.2963810,45996.0,5661.046154
534,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,LPCH MEDICAL GROUP DIV OF LUCILE,1982997417,PHAM,TRUNG,...,107,456,"12,449,131",0,4.807,0.000,37.397253,−122.1669792,4391.0,913.459538
535,92833,CA,FULLERTON,PEDIATRIC MEDICINE,INTERNAL MEDICINE,M,NaN,1992857239,FLORES,EDGAR,...,2052,6047,"19,859,068",0,7.668,0.000,33.880509,−117.9611323,52537.0,6851.460616
536,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,HEMATOLOGY/ONCOLOGY,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1992872717,COOPER,ROBERT,...,457,2645,"21,042,927","269,098",8.125,0.104,34.127603,−118.2963810,45996.0,5661.046154

In [89]:
df5 = df5.rename(columns = {'Zipcode': 'ZIP Code'})
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759 entries, 0 to 1758
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ZIP Code                   1759 non-null   int64
 1   Population                 1759 non-null   float64
 2   Per Capita Income          1741 non-null   float64
 3   Poverty Count              1759 non-null   float64
 4   Poverty Rate               1735 non-null   float64
 5   Insurance coverage status  1759 non-null   float64
 6   Coverage Rate              1735 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 96.3 KB

In [90]:
all_datas = pd.merge(df_totall, df5, on='ZIP Code', how='inner')
all_datas

,ZIP Code,State,City/Town,Primary Specialty,All Secondary Specialties,Gender,Facility Name,NPI,Provider Last Name,Provider First Name,...,Latitude,Longitude,Population_x,Population Density per sq mile,Population_y,Per Capita Income,Poverty Count,Poverty Rate,Insurance coverage status,Coverage Rate
0,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,NaN,M,LPCH MEDICAL GROUP DIV OF LUCILE,1003829771,MEANEY,PETER,...,37.397253,−122.1669792,4391.0,913.459538,4489.0,116734.0,273.0,6.081533,4253.0,94.742704
1,91402,CA,PANORAMA CITY,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1013128297,BRONSTEIN,DAVID,...,34.222506,−118.4446893,70702.0,18975.308642,67937.0,23293.0,12967.0,19.086801,67532.0,99.403859
2,92604,CA,IRVINE,PEDIATRIC MEDICINE,NaN,F,MEMORIALCARE MEDICAL FOUNDATION,1013907377,BAKER,MARNIE,...,33.690689,−117.7891367,28330.0,8461.768220,29080.0,53861.0,2869.0,9.865887,29013.0,99.769601
3,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912054,SWENSSON,RICHARD,...,33.787967,−117.8763428,26549.0,7719.976737,27280.0,33931.0,2995.0,10.978739,24173.0,88.610704
4,92868,CA,ORANGE,PEDIATRIC MEDICINE,CARDIOVASCULAR DISEASE (CARDIOLOGY),M,CHILDREN'S HOSPITAL OF ORANGE COUNTY,1013912674,RECTO,MICHAEL,...,33.787967,−117.8763428,26549.0,7719.976737,27280.0,33931.0,2995.0,10.978739,24173.0,88.610704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,92868,CA,ORANGE,PEDIATRIC MEDICINE,NaN,F,UC REGENTS UCI DEPT OF PEDIATRICS,1982927729,GOLD,JUNE-ANNE,...,33.787967,−117.8763428,26549.0,7719.976737,27280.0,33931.0,2995.0,10.978739,24173.0,88.610704
533,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,NaN,M,CHILDRENS HOSPITAL LOS ANGELES MEDICAL GROUP INC,1982997300,SMITH,MATTHEW,...,34.127603,−118.2963810,45996.0,5661.046154,45764.0,63275.0,6177.0,13.497509,45390.0,99.182764
534,94304,CA,PALO ALTO,PEDIATRIC MEDICINE,INFECTIOUS DISEASE,M,LPCH MEDICAL GROUP DIV OF LUCILE,1982997417,PHAM,TRUNG,...,37.397253,−122.1669792,4391.0,913.459538,4489.0,116734.0,273.0,6.081533,4253.0,94.742704
535,92833,CA,FULLERTON,PEDIATRIC MEDICINE,INTERNAL MEDICINE,M,NaN,1992857239,FLORES,EDGAR,...,33.880509,−117.9611323,52537.0,6851.460616,52799.0,43376.0,5388.0,10.204739,52751.0,99.909089
536,90027,CA,LOS ANGELES,PEDIATRIC MEDICINE,HEMATOLOGY/ONCOLOGY,M,SOUTHERN CALIFORNIA PERMANENTE MEDICAL GROUP,1992872717,COOPER,ROBERT,...,34.127603,−118.2963810,45996.0,5661.046154,45764.0,63275.0,6177.0,13.497509,45390.0,99.182764