In [1]:
import pandas as pd

In [ ]:
Path1 = "Final_doctors.csv"

In [3]:
df = pd.read_csv(Path1)

In [4]:
df.rename(columns ={'Zip Code': 'ZIP Code'}, inplace = True)

df.drop('Primary Practice', axis=1, inplace=True)

In [ ]:
# Reset the index to create a new column with auto-incrementing values
df.reset_index(inplace=True)

# Rename the new column to 'ID'
df.rename(columns={'index': 'Doctors_ID'}, inplace=True)

df

        ID  ZIP Code  Count Of Licensees
0        0     90001                   1
1        1     90002                   2
2        2     90003                   2
3        3     90004                   7
4        4     90005                   3
...    ...       ...                 ...
1848  1848     96151                   0
1849  1849     96158                   0
1850  1850     96160                   1
1851  1851     96161                   1
1852  1852     96162                   0

[1853 rows x 3 columns]

In [14]:
df.rename(columns ={'Count Of Licensees': 'Count Of Pediatrician'}, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ZIP Code               1853 non-null   int64
 1   Primary Practice       1853 non-null   object
 2   Count Of Pediatrician  1853 non-null   int64
dtypes: int64(2), object(1)
memory usage: 43.6+ KB

In [16]:
df['ZIP Code'] = df['ZIP Code'].astype('string')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ZIP Code               1853 non-null   string
 1   Primary Practice       1853 non-null   object
 2   Count Of Pediatrician  1853 non-null   int64
dtypes: int64(1), object(1), string(1)
memory usage: 43.6+ KB

In [19]:
df['Primary Practice'] = df['Primary Practice'].astype('string')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ZIP Code               1853 non-null   string
 1   Primary Practice       1853 non-null   string
 2   Count Of Pediatrician  1853 non-null   int64
dtypes: int64(1), string(2)
memory usage: 43.6 KB

In [18]:
df.to_csv("Pediatrician_table_1sql.csv", index = False)