In [9]:
import pandas as pd

In [10]:
Path1 = "Finall_doctors.csv"

In [11]:
df = pd.read_csv(Path1)

In [12]:
df.rename(columns ={'Zip Code': 'ZIP Code'}, inplace = True)

In [13]:
df

      ZIP Code Primary Practice  Count Of Licensees
0        90001       Pediatrics                   1
1        90002       Pediatrics                   2
2        90003       Pediatrics                   2
3        90004       Pediatrics                   7
4        90005       Pediatrics                   3
...        ...              ...                 ...
1848     96151       Pediatrics                   0
1849     96158       Pediatrics                   0
1850     96160       Pediatrics                   1
1851     96161       Pediatrics                   1
1852     96162       Pediatrics                   0

[1853 rows x 3 columns]

In [14]:
df.rename(columns ={'Count Of Licensees': 'Count Of Pediatrician'}, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ZIP Code               1853 non-null   int64
 1   Primary Practice       1853 non-null   object
 2   Count Of Pediatrician  1853 non-null   int64
dtypes: int64(2), object(1)
memory usage: 43.6+ KB

In [16]:
df['ZIP Code'] = df['ZIP Code'].astype('string')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ZIP Code               1853 non-null   string
 1   Primary Practice       1853 non-null   object
 2   Count Of Pediatrician  1853 non-null   int64
dtypes: int64(1), object(1), string(1)
memory usage: 43.6+ KB

In [18]:
df.to_csv("Pediatrician_table_1sql.csv", index = False)